
.ülaosa {
    background-image: url(https://t4.ftcdn.net/jpg/06/13/12/89/360_F_613128929_9QOk7g0kSqpdj4xtlOGY4jC8jIOuPhnK.jpg); 
    background-position: center;
}
.slideshow-container {
    position: fixed; /* Paigutab konteineri akna suhtes */
    bottom: 20px;    /* Kaugus lehe allservast */
    left: 50%;       /* Tsentreerib horisontaalselt */
    transform: translateX(-50%); /* Viib konteineri täpselt keskele */
    z-index: 1000;   /* Tagab, et slaidishow asub kõige peal */
  }
.slideshow {
    width: 500px;
    height: 300px;
    border: 5px solid black;
    background-color: black;
    overflow: hidden;
    position: relative;
    
  }
  
  .slideshow img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 2.5s ease-in-out;
  }
  
  .slideshow img.active {
    opacity: 1;
  }
  
