* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f1d1cb;
}
h1 {
    font-size: 300%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px black;
}
h2 {
    font-size: 200%;
    text-align: center;

}
p {
    font-size:larger;
}
.link1 {
    position: fixed;
    top: 5px; 
    left: 86%;
    transform: translateX(-50%); 
    padding: 15px 20px;
    background-color: #cce761; 
    color: rgb(52, 49, 49);
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 50px;
}
.link2 {
    position: fixed;
    top: 5px; 
    left: 95%;
    transform: translateX(-50%); 
    padding: 15px 20px;
    background-color: #cce761; 
    color: rgb(52, 49, 49);
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 50px;
}
.ülaosa {
    background-image: url(https://t4.ftcdn.net/jpg/06/13/12/89/360_F_613128929_9QOk7g0kSqpdj4xtlOGY4jC8jIOuPhnK.jpg); 
    background-size: cover;
    background-position: center;
    height: 200px; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    text-align: center;
}
.slideshow-container {
    position: fixed; /* Paigutab konteineri akna suhtes */
    bottom: 20px;    /* Kaugus lehe allservast */
    left: 50%;       /* Tsentreerib horisontaalselt */
    transform: translateX(-50%); /* Viib konteineri täpselt keskele */
    z-index: 1000;   /* Tagab, et slaidishow asub kõige peal */
  }
.slideshow {
    width: 500px;
    height: 300px;
    overflow: hidden;
    position: relative;
    
  }
  
  .slideshow img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 2.5s ease-in-out;
  }
  
  .slideshow img.active {
    opacity: 1;
  }
  
